*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(73, 73, 73);
    color: ghostwhite;
}

nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: lightslategray;
}

.logo
{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.3rem;
}

.nav-links
{
    display: flex;
    gap: 3rem;
}

.nav-links li
{
    list-style: none;
}

.nav-links a
{
    color: ghostwhite;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.burger
{
    display: none;
}

.burger .line
{
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 3px;
    background-color: ghostwhite;
}

/* ---MEDIA QUERIES--- */

@media screen and (max-width:768px) {
    .nav-links{
        position: absolute;
    }
}

@media screen and (max-width:1024px) {
    .nav-links a{
        font-size: 1.2rem;
    }
}

